:root {
    --background: #dfe3ea;
    --foreground: slate-900;
    --surface: white;
    --card: white;
    --border: slate;
    --text: slate-600;
}

body {
    background-color: #dfe3ea;
    background-image: linear-gradient(rgba(173, 214, 255, 0.1), rgba(173, 214, 255, 0.1));
}

/* keep existing animations */
